@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* import media query */
@import url('mQuery.css');

:root {
  /* light mode colors */

  /* main content bg */
  --primary-bg: white;
  --secondary-bg: #f9f9f9;

  --txt-color: #363636;
  /* all text color */

  /* foot-bg and footer-txt used in contact page only 🗿 */
  --footer-bg: white;
  --footer-txt: #363636;

  --selection-nav: black;
  /* navbar text selection color*/

  --placeholder: #c6c6c6;
  /* input place holder color*/
}

.darkmode {
  /* dark mode colors */

  /* main content bg */
  --primary-bg: #181A1B;
  --secondary-bg: #1B1E1F;

  --txt-color: #C6C1B9;
  /* all text color */

  /* foot-bg and footer-txt used in contact page only 🗿 */
  --footer-bg: black;
  --footer-txt: white;

  --selection-nav: white;
  /* navbar text selection color*/

  --placeholder: #a1a1a1;
  /* input place holder color*/
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
  color: var(--txt-color);
}

/* section css */
section {
  height: 100vh;
}

section:nth-child(2n-1) {
  background-color: var(--primary-bg);
}

section:nth-child(2n) {
  background-color: var(--secondary-bg);
}